body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #f1f1f1;
}

/*Navigation*/
nav {
  padding-top: 12px;
  padding-bottom: 8px;
  background-color: #1c181d;
  color: #656266;
}

.desktop-hide {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  padding-bottom: 5px;
}

input {
  color: #f3f3f3;
}
.nav-input {
  margin-left: 70px;
  margin-right: 35px;
  min-width: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  flex: 1;
  height: 20px;
  padding-left: 35px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 8px;
  border: 1px solid #656266;
  background-color: #322f33;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}

.search-bar:hover {
  border: 2px solid #e3e3e3;
}

.search-bar::placeholder {
  color: #e3e3e3;
}

.search-button {
  position: absolute;
  left: 20px;
  top: 18px;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-button img {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

.notification-icon {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.bell-button {
  margin-right: 15px;
  padding: 6px;
}
.bell-button,
.nav-text {
  background: #303030;
  border-radius: 8px;
  cursor: pointer;
}

.bell-button:hover {
  background: #656266;
  border: 2px solid rgb(53, 53, 233);
}
.nav-text:hover {
  background: #656266;
  border: 2px solid rgb(53, 53, 233);
}
.nav-text {
  padding-left: 5px;
  padding-right: 45px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.nav_text-content,
.menu-bar-header-text-1 {
  background-color: #36fba1;
  border-radius: 6px;
  color: #1a1a1a;
  opacity: 2;
}

.nav_text-content {
  position: absolute;
  right: 15px;
  top: 17px;
  padding: 3px;
}

.nav-text-content {
  font-size: 12px;
  letter-spacing: 1;
  color: rgb(201, 193, 193);
}

.bell-button img,
.search-image-icon {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.notification__inline {
  position: relative;
}

.notification-bar {
  max-width: 400px;
  height: 120px;
  padding-left: 5px;
  display: none;
}
.notification-bar,
.menu-bar {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  right: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.notification-bar-1,
.menu-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-left: 10px;
}

.notification-boder-2 {
  margin-top: 30px;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px;
  display: inline-block;
  background: #f1f1f1;
}
/*Menu-section*/
.menu-boder {
  margin-top: 7px;
  margin-left: 8px;
  margin-right: 8px;
  background: #f1f1f1;
  border-radius: 8px;
}
.menu-bar {
  width: 270px;
  height: 400px;
  top: 60px;
}

.menu-bar-header {
  margin: 10px;
}
.menu-bar-header2,
.store-logo {
  display: flex;
  align-items: center;
}

.store-logo {
  margin: 20px;
}

.store-text,
.horizontal-text,
.text-section__one {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 600;
  color: #656266;
}

.text-section a,
.section-text2 a {
  text-decoration: none;
  color: #656266;
}

.text-section__one {
  margin-left: 15px;
  margin-top: 10px;
}

.text-section_one {
  font-weight: 600;
  color: #1a1a1a;
}

.text-section__two {
  display: block;
  color: #656266;
}

.text-section__three {
  margin-top: 20px;
}

.horizontal-line {
  margin: 0;
  border: 1px solid #f1f1f1;
  padding: 10px;
}

.horizontal-text {
  margin: 0;
}

.text-section {
  padding: 8px;
}

.text-section__2 {
  margin-bottom: 0;
}

.menu-bar-header-text-1 {
  margin-left: 0;
  padding: 4px;
  font-size: 11px;
}

.menu-icon-image {
  background-color: transparent;
  border: none;
}

.menu-bar-header-text-2 {
  margin-left: 5px;
  margin-top: 5px;
}

.notification-bar__text {
  font-size: 12px;
}
.notification-image {
  margin-right: 10px;
}

.nav-text-content {
  margin-top: 3px;
  margin-left: 5px;
  position: relative;
}

@media (max-width: 600px) {
  nav {
    padding-top: 5px;
  }
  .nav-input {
    margin-left: 30px;
    margin-right: 0;
    min-width: 300px;
  }

  .image-icon {
    margin-top: 5px;
  }
  .mobile-display {
    display: none;
  }
  .desktop-hide {
    display: block;
  }

  .nav-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-text-content {
    display: none;
  }
  .nav_text-content {
    right: 10px;
    top: 10px;
    margin-right: 10px;
  }

  .bell-button,
  .nav-text {
    background: none;
  }
}

@media (max-width: 480px) {
  .nav-input {
    margin-left: 10px;
    min-width: 220px;
    margin-top: 5px;
  }

  .nav-text {
    padding-right: 35px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .notification-icon {
    margin-left: 10%;
  }

  .menu-bar {
    width: 320px;
    height: 420px;
  }
}

/*header- section*/

header {
  margin-top: 30px;
}
header .container {
  text-align: center;
  background: #272626;
  border-radius: 8px;
  color: #e3e3e3;
  width: 800px;
  margin: auto;
  padding: 5px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.section-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
.container .section p {
  margin-left: 10px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 200;
}

.container .section-text2 {
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 6px;
  background: #fff;
  color: #323232;
  cursor: pointer;
}

.search-image-icon2 {
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 600px) {
  .section {
    display: block;
  }

  header .container {
    width: 500px;
    border-radius: 0;
    text-align: left;
    padding: 10px;
  }

  .section-text {
    display: block;
    margin: 0;
  }

  .container .section p {
    margin-left: 10px;
    position: relative;
  }

  .section-plan {
    display: block;
    margin-top: 5px;
  }

  .container .section-text2 {
    font-size: 13px;
    width: 100px;
    margin-left: 10px;
  }

  .search-image-icon2 {
    position: absolute;
    right: 60px;
    top: 22%;
  }
}

@media (max-width: 480px) {
  header .container {
    margin-top: 30px;
    width: 390px;
  }

  .search-image-icon2 {
    right: -2px;
    top: 15%;
  }
}

/*Main Section*/
main {
  margin-top: 20px;
}

.main-section {
  text-align: left;
  background: #fff;
  border-radius: 10px;
  color: #303030;
  width: 800px;
  margin: auto;
  font-size: 13px;
}

.main-section_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text-content {
  margin-left: 10px;
  margin-top: 15px;
}

.main-text-content-1 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.main-text-content-2 {
  line-height: 1;
}

.main-text-content-3 {
  font-size: 12px;
}

.collapsible-chevron {
  margin-right: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s;
  cursor: pointer;
}

.collapsible--expanded .collapsible-chevron {
  transform: rotate(0);
}
.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__content {
  display: block;
}

.collapsible--boder {
  width: 750px;
  background: #f3f3f3;
  border-radius: 6px;
  margin: 5px;
}
.collapsible--icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;
}

.collapsible--icon img {
  width: 25px;
  height: 25px;
  filter: invert(50%);
}
.collapsible__header {
  margin-left: 5px;
  font-size: 12px;
}
@media (max-width: 600px) {
  .main-section {
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .main-section {
    width: 390px;
  }
}
